@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#3B93B4];
}

.point {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #f5d0a1;
}
